

h4 {
    color:rgb(36, 36, 36);
    margin-top: 20px;
    font-size: 18px;
   
}

.yellow-text {
    color: #b68800;
}

.c-home-page {
    margin-top: 40px;

}

.row-full-width {
    max-width:  100%;
    
}

/* .container {
    max-width:  100%
} */

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
  }

  .yellow-col {
      background-color: #ffc107;
      max-width:  100%;
      padding: 30px;
      margin-bottom: 10px;
      border: 0px solid grey;
  }
 

