h5 {
    color:palevioletred;
}

.c-home-page {
    margin-top: 40px;

}

.row-full-width {
    max-width:  100%;
    
}

/* .container {
    max-width:  100%
} */

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
  }

  .home-row2 {
      background-color: #ffc107;
      max-width:  100%;
      padding: 30px;
      margin-bottom: 20px;
  }